<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<WebPublishMethod>FTP</WebPublishMethod>
		<SiteUrlToLaunchAfterPublish>http://asp-hotel.somee.com</SiteUrlToLaunchAfterPublish>
		<TargetFramework>net8.0</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<SelfContained>true</SelfContained>
		<PublishProvider>Ftp</PublishProvider>
		<FtpServerUrl>ftp://asp-hotel.somee.com/www.asp-hotel.somee.com</FtpServerUrl>
		<FtpUserName>Awshn</FtpUserName>
		<FtpPassword>TYfghxcvbn76@.</FtpPassword>
		<FtpPassiveMode>True</FtpPassiveMode>
		<FtpAnonymousLogin>False</FtpAnonymousLogin>
		<DeleteExistingFiles>True</DeleteExistingFiles>
	</PropertyGroup>
</Project>