<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://hotel-asp.somee.com</SiteUrlToLaunchAfterPublish>
    <TargetFramework>net8.0</TargetFramework>
    <ProjectGuid>00000000-0000-0000-0000-000000000000</ProjectGuid>
    <SelfContained>false</SelfContained>
    <PublishProvider>Ftp</PublishProvider>
    <FtpServerUrl>ftp://155.254.244.37/www.hotel-asp.somee.com</FtpServerUrl>
    <FtpUserName>Dardanium</FtpUserName>
    <FtpPassword>QWerASdfZXc2901</FtpPassword>
    <FtpPassiveMode>True</FtpPassiveMode>
    <FtpAnonymousLogin>False</FtpAnonymousLogin>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <ExcludeFilesFromDeployment>web.config</ExcludeFilesFromDeployment>
    <ExcludeFoldersFromDeployment>App_Data;bin;obj</ExcludeFoldersFromDeployment>
  </PropertyGroup>
</Project>